alias la="ls -a"
alias ll="ls -l"
alias lla="ls -la"

alias touchpad-toggle="synclient TouchpadOff=$(synclient -l | grep -c 'TouchpadOff.*=.*0')"
alias tt="synclient TouchpadOff=$(synclient -l | grep -c 'TouchpadOff.*=.*0')"

alias dotfiles="cd ~/.dotfiles"
alias snippets="cd ~/.dotfiles/.vim/bundle/vim-snippets/UltiSnips/"
