alias la="ls -a"
alias ll="ls -l"
alias lla="ls -la"

alias dotfiles="cd ~/.dotfiles"
alias snippets="cd ~/.dotfiles/.vim/bundle/vim-snippets/UltiSnips/"
alias update-vim="vim +BundleInstall +BundleClean +qall"

alias ta='tmux attach -t'
alias tn='tmux new -s'
